<section>
  <div class="container d-flex flex-column justify-content-center mt-3">
    <div class="row">
      <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
        <div>
          <h1>Dashboard</h1>
          <p>Hello there! Here's an overview of your tasks.</p>
        </div>
        <button type="button" class="default-btn"><i class="fa-solid fa-plus"></i>Add New Task</button>
      </div>
    </div>
    <app-task-stats></app-task-stats>
    <div class="row">
      <app-task-list class="col-sm-4"></app-task-list>
      <app-task-details class="col-sm-8"></app-task-details>
    </div>
  </div>
</section>